.blogs-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.contecx-api, .symentic-tag{
    padding: 20px 20px 0px 20px;
}
.block-element{
    padding: 0px 20px 20px 20px;   
    margin: 0px 20px 20px 20px;
}
.block-element span{
    color: coral;
}
/* Media query */
@media only screen and (max-width: 768px){
    .blogs-wrap{
        display: block;
    }
}