.chat-wrap{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.line-chart, .bar-chart{
    margin: 0 auto;
    padding: 50px;
}
.chat-wrap h3{
    text-align: center;
    color: coral;
}
/* Media query */
@media only screen and (max-width: 900px){
    .chat-wrap{
        display: block;
    }   
}